/* content.css */
.content-area {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    width: 90vw;
    max-width: 1200px; /* Limita la larghezza */
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(7, 193, 169, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    margin: 30px auto;
    text-align: center;
}

.section h2 {
    color: #555;
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(61, 68, 53, 0.35);
    padding-bottom: 10px;
}

.section p {
    font-size: 19px;
    margin-bottom: 15px;
}

.section ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}

.section ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid rgba(71, 78, 64, 0.68);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.section a {
    color: #3b3737;
    text-decoration: none;
    font-weight: bold;
}

.section a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .section {
        padding: 15px;
        width: 95vw;
    }

    .section h2 {
        font-size: 24px;
    }

    .section p,
    .section ul li {
        font-size: 14px;
    }
}
