
footer img {
    max-height: 5vh;
    width: auto;
}

p.project-info {
    color: #000;
    flex: 1;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.copyright img {
    max-width: 80vh;
    margin-bottom: 5px;
}

.copyright-text {
    font-size: 0.8rem;
    color: #000;
    margin: 0;
}
