/* reset.css */
html, body {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto; /* Il contenuto si espande automaticamente */
        min-height: 100vh;
    }

    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

