/* layout.css */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "services-content-area"
        "services-box"
        "footer";
    min-height: 100vh;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 80px;
}

footer {
    position: relative;
    grid-area: footer;
    background-color: rgba(71, 78, 64, 0.68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 15px;
    width: 100%;
    margin-top: 5px ;
}