/* header.css */
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 80px;
}

#social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}
#social-icons .social-icon img {
    width: 24px;  /* Larghezza fissa */
    height: 24px; /* Altezza fissa */
    max-width: 100%; /* Impedisce che le immagini superino le dimensioni specificate */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#social-icons .social-icon:hover img {
    transform: scale(1.1); /* Leggera animazione al passaggio */
    opacity: 0.8;
}

.header-title {
    font-family: 'Roboto Serif', serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 200;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
}

nav.user-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

div.user-nav-item {
    background-color: #ffffff;
    border: 2px solid #454d3c;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: 80px;
    text-align: center;
    font-size: 14px;
}

div.user-nav-item:hover {
    background-color: #58624d;
}

.nav-bar {
    font-family: 'Funnel Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav-item {
    text-decoration: underline;
    font-weight: 600;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    background: none;
    border: none;
    transition: color 0.3s ease-in-out;
}

.nav-item:hover {
    color: #7d2d4e;
    text-decoration: underline;
}